@font-face {
  font-family: openSans;
  src: url(assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: openSansItalic;
  src: url(assets/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: scopeOne;
  src: url(assets/Fonts/Scope_One/ScopeOne-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 20px;
  font-family: openSans;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-family: scopeOne;
  font-size: 35px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-size: 60px;
  font-weight: 100;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 20px;
}

label {
  font-size: 30px;
  font-weight: 100;
}

input[type="text"] {
  border: 0px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 100;
  font-family: openSans;
}

.icon,
.icon2 {
  height: 30px;
}

#weather-panel-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;

  padding-bottom: 20px;
}

.weather-panel,
#panel-form {
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;

  height: 300px;

  /* Shadow */
  -webkit-box-shadow: 3px 3px 17px -7px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 3px 3px 17px -7px rgba(0, 0, 0, 0.71);
  box-shadow: 3px 3px 17px -7px rgba(0, 0, 0, 0.71);
}

#panel-form {
  background-color: #ececec;
}

#form-top-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form-bottom-section {
  display: flex;
  justify-content: space-around;
}

#add-location,
#delete-location {
  width: 40%;
  border: 0px;
  border-radius: 5px;
}

#add-location {
  background-color: #cdffc9;
}

#delete-location {
  background-color: #ffd8d8;
}

.weather-panel:hover {
  scale: 101%;
  opacity: 90%;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-section {
  text-align: right;
}

.bottom-section {
  display: grid;
  grid-template-columns: repeat(8, auto);
  text-align: left;
  row-gap: 5px;
}

.day {
  font-family: openSansItalic;
}

@media screen and (max-width: 530px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size: 16px;
  }

  .weather-panel,
  #panel-form {
    height: 200px;
  }

  #weather-panel-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: -10px;
    gap: 10px;
  }

  .icon {
    width: 15px;
    height: 15px;
  }
}
